.log {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 50vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: grey;
  }

  .log-form {
    background-color: white;
    padding: 2rem;
  }
  
  input[type="email"],
  input[type="password"] {
    height: 20px;
    border: 1px solid black;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .text-danger {
  color: red;
  }

  .btn btn-success {
    color: green;
  }
   
  .buttonin {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: green;
    border: 1px solid black;
    color: black;
    padding: 10px 10px;
  }

  .buttonout {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: red;
    border: 1px solid black;
    color: black;
    padding: 10px 10px;
  }